@use "utilities/variables" as *;

@use "base/base";
@use "components/titles";
@use "components/paragraphs";
@use "components/buttons";
@use "components/cards";

@use "layout/hero";
@use "layout/sections";
@use "layout/footer";
