@use "../utilities/variables" as *;

.btn-formato {
  display: inline-block;
  padding: 0.6rem 1.6rem;
  border-radius: 999px;
  border: 1px solid $color-acento;
  color: $color-acento;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-acento;
    color: #fff;
  }
}
