* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.hero {
  
}
.hero-sobre-mi {
    height: 30em;
    background-color: black;
    color: white;
    
}

.hero-sobre-mi h1 {
    font-family: "Poppins", sans-serif;;
    font-size: 5em;
    font-weight: 500;
}

.hero-sobre-mi span {
    font-family: "Poppins", sans-serif;;
    font-size: 1em;
}